<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Makery_Visitorreport>
			<version>1.0.0</version>
		</Makery_Visitorreport>
	</modules>
	  <admin>
        <routers>
            <visitorreport>
                <use>admin</use>
                <args>
                    <module>Makery_Visitorreport</module>
                    <frontName>visitorreport</frontName>
                </args>
            </visitorreport>
        </routers>
    </admin>
        <adminhtml>
        <menu>
            <visitorreportmenu module="visitorreport">
                <title>Visitor Reports</title>
                <sort_order>120</sort_order>              
                <children>
                    <visitorreport module="visitorreport">
                        <title>Visitors Report</title>
                        <sort_order>110</sort_order>
                        <action>visitorreport/adminhtml_visitorreport</action>
                    </visitorreport>
                </children>
            </visitorreportmenu>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <visitorreportmenu>
                            <title>Visitor Reports</title>
                            <sort_order>120</sort_order>
                            <children>
                                <visitorreport>
                                    <title>Visitors Report</title>
                                    <sort_order>110</sort_order>
                                </visitorreport>
                            </children>
                        </visitorreportmenu>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <visitorreport>
                    <file>visitorreport.xml</file>
                </visitorreport>
            </updates>
        </layout>
    </adminhtml>  
	<global>
		<blocks>
			<visitorreport>
				<class>Makery_Visitorreport_Block</class>
			</visitorreport>
		</blocks>
		<models>
			<visitorreport>
				<class>Makery_Visitorreport_Model</class>
				 <resourceModel>visitorreport_mysql4</resourceModel>
			</visitorreport>
			<visitorreport_mysql4>
				<class>Makery_Visitorreport_Model_Mysql4</class>
				     <entities>
					         <visitorreport>
					           <table>visitorreport</table>
					         </visitorreport>
				     </entities>
			</visitorreport_mysql4>
		</models>
		<resources>
			<visitorreport_setup>
				<setup>
					<module>Makery_Visitorreport</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</visitorreport_setup>
			<visitorreport_write>
				<connection>
					<use>core_write</use>
				</connection>
			</visitorreport_write>
			<visitorreport_read>
				<connection>
					<use>core_read</use>
				</connection>
			</visitorreport_read>
		</resources>
		<helpers>
			<visitorreport>
				<class>Makery_Visitorreport_Helper</class>
			</visitorreport>
		</helpers>
	</global>
	<frontend>
		<events>
			<controller_action_postdispatch>
				<observers>
					<visitorreport>
						<type>singleton</type>
						<class>visitorreport/observer</class>
						<method>logVisitorAction</method>
					</visitorreport>
				</observers>
			</controller_action_postdispatch>
		</events>
	</frontend>
	</config>